<a href="https://colab.research.google.com/github/drwaiyanbo/MMDT_T-PY101_Batch03/blob/main/waiyanbo/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
s = "My name is python"
print(len(s))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [2]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python")
print(f"The word 'python' appears {count} times in the paragraph.")

The word 'python' appears 2 times in the paragraph.

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [8]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls3 = ls1 + ls2
print(len(ls3))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [9]:
people = {
    "Myo": 32,
    "Thida": 64
}
print(people)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print(combined_set)
print(f"Length of combined set: {len(combined_set)}")

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [12]:
user_string = input("Please enter a string: ")
new_string = user_string[0] + '*' + user_string[2:] + '!!!'
print(new_string)

Please enter a string: how are you
h*w are you!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [18]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
s = s.replace('.', '').replace(',', '').replace('-', '').replace(';', '').replace(':', '').replace('!', '').replace('?', '').replace('"', '').replace("'", '')
print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [34]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(set(L1).difference(set(L2)))

TypeError: 'list' object is not callable

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [35]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print(ls1)
print(ls2)

TypeError: 'list' object is not callable